# Hostinger Live MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u362391755_dhorelareal
DB_USER=u362391755_dholerareal
DB_PASS=Emperor@Admin07

# App Environment Configuration
APP_ENV=production
APP_DEBUG=false
APP_URL=https://emperorsmartsolutions.com/dholerarealestate/php
